.text-d {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.div-1{
    width: 100%;
}

.nav-border{
    border-bottom: 1px solid gray ;
}

.border-left{
    border-left: 1px solid gray;
    padding: 25px;
}

.border-right{
    border-right: 1px solid gray;
    padding: 25px;
}

.nav-a:hover{
    background-color: #ffd400;
}


.nav-l:hover{
    color: #701e7d;
    background-color: #ffd400;
}

.m-left{
    margin-left: 165px;
}

.login-1{
    display: none;
}

.mnue-icone{
    display: none;
    font-size: xx-large;
    color: #701e7d;
}

/* navbar */

/* main */

.clipped-1 {
    width: 250px;
    height: 200px;
    background: red;
    border-radius: 8px; 
}

.branch-box1:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px (hsl(0, 0%, 0%));    
}

/* .padding-div{
    padding: 30px 141px 30px 141px;
} */

.gap-7{
    gap: 282px;
}

.purple-div{
       background-color: #701e7d;
       width: auto; 
     
}

.purple-font-width{
    width: 180px;
}

.purple-icone{
    color : white;
    font-size: 60pX;
    background-color: #854090;
    border: 1px solid #701e7d;
    border-radius: 50%;
}

.padding-icone-1{
    padding: 35px 32px 35px 32px;
}

.padding-icone-2{
    padding: 35px 38px 35px 38px;
}

.padding-icone-3{
    padding: 35px 46px 35px 46px;
}

.padding-icone-4{
    padding: 35px 33px 35px 33px;
}

.padding-icone-5{
    padding: 35px 37px 35px 37px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size:  14px;
    font-weight: 600;
}

.footer-font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    
}

ul , li {
    list-style-type: none;
}

li{
    margin-bottom: 8px;
}

.clip-icone{
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 8px;
}

.pad{
    padding: 0px 140px 0px 0px;
}


.pad-1{
    padding: 0px 80px 0px 80px;
}

.padding-2{
    padding: 10px 120px 10px 120px;
}

