.bg-grey{
    background-color: #E6E6E6;
}

.bg-purple{
    background-color:#701E7D;
}

.bg-yellow{
    background-color: #FFD400;
}

.bg-grey{
    background-color: #E6E6E6;
}

.bg-ggrey{
    background-color: #c4c4c4;
}

.color-grey{
    color: #E6E6E6;
}

.color-withe{
    color: white;
}

.gap-6{
    gap: 75px;
}

.color-purple{
    color: #701E7D;
}

.color-Yellow{
    color: #FFD400;
}

.color-black{
    color: black;
}


/* font */

@font-face {
    font-family: roboto ;
    src: url(./font/Poppins\,Roboto.zip);
}

.ft-5{
    font-family: roboto;
    font-size: large;
}

.ft-6{
    font-family: roboto;
    font-size: xx-large;
}

.f-pera{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;   
}

.h-pera{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 600;   
}

.w-pera{
    width: 280px;
}

.bold-font{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.color{
    color: #701E7D;
}

.purple-line-2{
    display: none;
}



.footer-2{
    display: none;
}